/* You can add global styles to this file, and also import other style files */
ul {
    max-width: 80%;
    margin: 10px auto 10px auto;
}
li {
    margin-bottom: 15px;
    list-style-type: none;
    padding: 15px;
    border-radius : 10px;
}

li h4 {
    font-size: 25px;
    font-weight: bold;
}

